body {
    font-family: "Lato", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h2 {
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;
}

h3 {
    font-weight: 700;
    font-size: 1.2em;
}

h4 {
    margin: 0;
    font-size: 1em;
    font-weight: 300;
}

#exploration-steps {
    margin: 10px 15px;
}

.sub-question {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    padding-top: 0;
}

.task {
    margin-bottom: 30px;
}

.code-info {
    font-size: 0.8em;
}

.code-box {
    padding: 0 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.code-title {
    padding: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

pre,
code {
    margin: 0;
    padding: 0;
}