body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fafafa;
}

h1 {
    font-size: 1.1em;
    font-weight: normal;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

h4 {
    font-size: 1em;
}

button {
    cursor: pointer;
    /* background-color: white; */
}

#header {
    /* background-color: white; */
}

#header .header-divs {
    margin-top: 10px;
}

.jump-btn {
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    color: #555555;
}

.jump-btn:hover {
    /* color: #0056b3; */
    background-color: #dddddd;
}

#answer-div {
    margin-top: 30px;
}

#answer-div b {
    /* font-weight: 300; */
    font-weight: lighter;
    font-style: italic;
}

.final-answer {
    /* font-family: sans-serif; */
}

.final-answer h1 {
    font-size: 1.1em;
}

.final-answer h2 {
    font-size: 1em;
}

.final-answer h1,
.final-answer h2 {
    font-weight: normal;
}

.final-answer p {
    margin: 0;
    line-height: 1.2;
    color: #555555;
}

.final-answer ul {
    margin: 16px 0;
    padding-left: 20px;
    list-style-type: disc;
    color: #555555;
}

.final-answer li {
    margin-bottom: 8px;
    line-height: 1.6;
}

.final-answer #toggle-details-btn {
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 3px 6px;
    font-weight: normal;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.final-answer #toggle-details-btn:hover {
    background-color: #dddddd;
    /* border-color: #aaa; */
}

.final-answer #details-container {
    margin-top: 5px;
}

html {
    scroll-behavior: smooth;
}

#agent-status-text {
    font-weight: 200;
    margin-right: 1em;
}

.idle-status {
    color: gray;
}

.searching-status {
    color: black;
}

.paused-status {
    color: gray;
}

.stop-status {
    color: darkgreen;
}

.finished-status {
    color: darkgreen;
}

#title-question {
    font-style: italic;
}

#searching-content {
    overflow: hidden;
    color: #555555;
}

.search-message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out;
}

#actions {
    max-width: 200px;
    display: flex;
    /* justify-content: space-between; */
}

button.action-btn {
    /* padding: 3px 10px; */
    margin-right: 5px;
    color: #555555;
    /* color: #007bff; */
    /* border: 0.5x solid lightgrey; */
    /* border-radius: 2px; */
    border: none;
    cursor: pointer;
    font-size: 0.9em;
}

button.action-btn:hover {
    /* color: #0056b3; */
    background-color: #dddddd;
}

.task-details {
    margin-top: 10px;
}

.code-info {
    font-size: 0.8em;
}

.code-box {
    padding: 0;
    overflow-x: auto;
}

.inline-code {
    font-family: monospace;
    font-size: 0.9em;
    padding: 0px 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.scroll-header-code {
    font-family: monospace;
    font-size: 0.9em;
}

#preliminary-answer-text {
    font-weight: 300;
}

.insight {
    border: none;
    margin-bottom: .5rem;
}

.insight h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.highlight {
    background-color: #f0f8ff;
}

.code-index {
    display: block;
    margin-bottom: 4px;
    color: #6c757d;
    font-weight: normal;
    cursor: pointer;
}

.code-index:hover {
    color: black;
}

.styled-index {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: white;
    color: #6c757d;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.citation-ref {
    color: 0056b3;
    font-weight: lighter;
    cursor: pointer;
    margin: 0;
}

.citation-ref:hover {
    color: #0056b3;
    text-decoration: underline;
}

.highlight-new {
    color: black;
}

.code-title {
    padding: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

pre,
code {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: 200;
    text-shadow: none;
    background-color: rgb(0, 0, 0, 0);
    color: gray;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
}

#walkthrough {
    margin-top: 30px;
}

#graph-container {
    font-size: 12px;
    width: 100%;
    min-height: 400px;
    position: relative;
}

#graph-container #sticky-header {
    display: none;
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 0.9em;
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#graph-container #sticky-header .sticky-header-item {
    cursor: pointer;
    padding: 8px;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline-variable {
    background-color: #ffffcc;
}

#graph-container .node circle {
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
    cursor: pointer;
}

#graph-container .node text {
    font: 12px sans-serif;
    fill: #333;
    cursor: pointer;
}

#graph-container .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#graph-container .node-description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
}

#graph-container .node-container-box {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
}

.info-box {
    color: gray;
    font-size: 0.8em;
}

.node-container-box.insight-in-container {
    display: block;
}

.node-container-box.insight-in-container>* {
    display: block;
    width: 100%;
}

.tree-node.code-box {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.code-container {
    flex-grow: 1;
    padding-left: 10px;
    overflow-x: auto;
}

.code-line {
    color: gray;
}

.insight-copy {
    background-color: #eef6ff;
    padding: 10px;
    border: 1px solid #ddd;
}

.insight-copy h3 {
    margin: 0;
}

.node-container-box.insight-in-container .insight-copy {
    display: block;
    height: auto;
    padding-bottom: 0;
}

.node-container-box.insight-in-container .insight-copy h3 {
    font-size: 1em;
}

.node-container-box.insight-in-container .insight-copy p {
    padding: 10px;
    padding-left: 0;
    font-weight: 200;
}

.tree-node-button-container {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    /* padding: 5px; */
    background: rgba(255, 255, 255, 0.9);
    position: relative;
}

.tree-node-button-container button {
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.tree-node button i {
    color: #333;
    font-size: 14px;
}

.tree-node button:hover i {
    color: #0078d7;
}

.tree-node button:hover {
    background-color: #f0f0f0;
    border-radius: 3px;
}

#control-panel {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: none;
    gap: 10px;
    z-index: 10;
}

#control-panel button {
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

#control-panel button:hover {
    background-color: #005f99;
}

#control-panel button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}