body {
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    font-size: 1.1em;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: 300;
}

#header {
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header .header-divs {
    margin-top: 10px;
}

.jump-btn {
    border: 1px solid #ccc;
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.jump-btn:hover {
    background-color: #f5f5f5;
    border-color: #888;
}

.final-answer {
    font-family: sans-serif;
    background-color: #ffffff;
    padding: 24px;
    margin: 20px auto;
    max-width: 450px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.final-answer h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 1.1em;
}

.final-answer h3 {
    font-size: 1em;
}

.final-answer h1,
.final-answer h2,
.final-answer h3 {
    font-weight: bold;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.final-answer p {
    margin: 0;
    line-height: 1.2;
    color: #555555;
}

.final-answer ul {
    margin: 16px 0;
    padding-left: 20px;
    list-style-type: disc;
    color: #555555;
}

.final-answer li {
    margin-bottom: 8px;
    line-height: 1.6;
}

.final-answer #toggle-details-btn {
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 12px;
    font-weight: normal;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.final-answer #toggle-details-btn:hover {
    background-color: #f5f5f5;
    border-color: #aaa;
}

.final-answer #details-container {
    margin-top: 20px;
}

html {
    scroll-behavior: smooth;
}

#agent-status-text {
    font-weight: bold;
}

.idle-status {
    color: gray;
}

.searching-status {
    color: black;
}

.paused-status {
    color: darkgray;
}

.stop-status {
    color: #4CAF50;
}

.finished-status {
    color: #4CAF50;
}

#title-question {
    font-style: italic;
}

#searching-content {
    overflow: hidden;
    color: #555555;
}

.search-message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out;
}

#actions {
    display: flex;
    justify-content: space-between;
}

button.action-btn {
    padding: 3px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

button.action-btn:hover {
    background-color: #0056b3;
}

.task-details {
    margin-top: 10px;
}

.code-info {
    font-size: 0.8em;
}

.code-box {
    padding: 0;
    overflow-x: auto;
}

.inline-code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 0.9em;
    background-color: #f5f2f0;
    padding: 0px 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.scroll-header-code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 0.9em;
}

#preliminary-answer-text {
    font-weight: 300;
}

.insight {
    background-color: #f9f9f9;
    border: none;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    padding: 12px 16px;
    cursor: pointer;
}

.finding-summary {
    margin: 0;
    color: gray;
}

.additional-finding {
    cursor: pointer;
}

#findings .code-box {
    display: block;
    padding: 0;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 10px;
}

#findings .code-wrapper {
    padding: 8px;
    margin-bottom: 10px;
}

#findings .parent-node-info {
    display: none;
    margin-top: 8px;
    padding: 5px;
    border-top: 1px solid #ddd;
    font-size: 0.9em;
    color: #555;
    background-color: #f9f9f9;
}

.highlight {
    background-color: #f0f8ff;
}

.code-index {
    display: block;
    margin-bottom: 4px;
    color: #6c757d;
    font-weight: normal;
    cursor: pointer;
}

.code-index:hover {
    color: black;
}

.styled-index {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: white;
    color: #6c757d;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.citation-ref {
    color: #007bff;
    font-weight: lighter;
    cursor: pointer;
    margin: 0;
}

.citation-ref:hover {
    color: #0056b3;
    text-decoration: underline;
}

.highlight-new {
    color: black;
}

.code-title {
    padding: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

pre,
code {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: 200 !important;
    text-shadow: none;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    white-space: pre;
    overflow-x: auto;
}

.highlighted-code {
    background-color: #fffae6;
    padding: 2px 4px;
    border-radius: 3px;
}

.warning-text {
    color: red;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.warning-icon {
    margin-right: 8px;
    font-size: 1.2em;
}

.uncertain {
    border: gray 1px dashed;
}

.show-more-invocations,
#findings-show-more {
    color: #007bff;
    cursor: pointer;
    font-style: italic;
}

#current-task-content .task-content {
    margin-left: 0;
}

#current-task-content .task-content .sub-question {
    padding-top: 5px;
}

#graph-container {
    font-size: 12px;
    width: 100%;
    min-height: 400px;
    position: relative;
}

#graph-container #sticky-header {
    display: none;
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 0.9em;
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#graph-container #sticky-header .sticky-header-item {
    cursor: pointer;
    padding: 8px;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline-variable {
    background-color: #ffffcc;
}

#graph-container .node circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
    cursor: pointer;
}

#graph-container .node text {
    font: 12px sans-serif;
    fill: #333;
    cursor: pointer;
}

#graph-container .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#graph-container .node-description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
}

#graph-container .node-container-box {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
}

.info-box {
    display: none;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    line-height: 1.5;
    padding: 12px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 0.8em;
    font-weight: 300;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.info-box strong {
    font-weight: 600;
}

.info-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #0073e6;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.2s ease-in-out;
}

.tooltip {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    font-weight: 300;
}

.tooltip .code-line {
    color: black;
}

.tooltip .tooltip-header {
    border-bottom: 1px solid #ccc;
    color: steelblue;
    max-width: 300px;
    padding: 5px;
    padding-top: 0;
}

.tooltip .tooltip-content {
    max-width: 300px;
    overflow: auto;
    color: white;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.node-container-box.insight-in-container {
    display: block;
}

.node-container-box.insight-in-container>* {
    display: block;
    width: 100%;
}

.tree-node.code-box {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.code-container {
    flex-grow: 1;
    padding-left: 10px;
}

.insight-copy {
    background-color: #eef6ff;
    padding: 10px;
    border: 1px solid #ddd;
}

.insight-copy h3 {
    margin: 0;
}

.node-container-box.insight-in-container .insight-copy {
    display: block;
    height: auto;
    padding-bottom: 0;
}

.node-container-box.insight-in-container .insight-copy h3 {
    font-size: 1em;
}

.node-container-box.insight-in-container .insight-copy p {
    padding: 10px;
    padding-left: 0;
    font-weight: 200;
}

.tree-node-button-container {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.tree-node-button-container button {
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.tree-node button i {
    color: #333;
    font-size: 14px;
}

.tree-node button:hover i {
    color: #0078d7;
}

.tree-node button:hover {
    background-color: #f0f0f0;
    border-radius: 3px;
}

#control-panel {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: none;
    gap: 10px;
    z-index: 10;
}

#control-panel button {
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

#control-panel button:hover {
    background-color: #005f99;
}

#control-panel button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}